.search-container{
    text-align: center;
    background-color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.search-container .paragraph{
    background-color: #dbeef2;
    width: 100%;
    padding: 10px 5px 5px 5px;
}
.search-container  p{
    font-size: 24px;
    font-weight:500;
    text-align: center;
}
.search-container  span{
    
    font-size:20px;
    font-weight: 500;
}
.search-body{
    background-color:#eff4f8;
    width: 100%;
    justify-content: space-between;
}
.search{
    width: 70%;
    margin: 0 auto;
    padding: 10px;

}
.main-container{
    width: 90%;
    margin: 0 auto;
}

.search{
    display: flex; 
}
.search input{
    height: 25px;
    font-size: 11px;
    font-weight: 400;
    background-color:#e0eaf3;
    width: 270px;
    text-align: center;
    margin-left: 50px;
    border-radius: 20px;
    border: 2px solid #dde5eb;
    position: relative;
}
.input-container{
    display: flex;
    position: relative;

}
.search-icon{
    position: absolute;
    right: 6%;
    font-size: 14px;
    bottom: auto;
}
.icon-search{
    color: black;
    font-size: 14px;
}
