.App {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
}
h1,h2,h3,h4,h5,h6{
  margin: 0px;
}
p{
  margin: 0px;
}
.img-container{
  margin-top: 15px;
  padding-left: 5px;
}
.container header{
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color:#f8f9fb;
  
}
.list-container ul{
  display: flex;
  list-style: none;
  text-align: justify;
  /* padding-bottom: 25px; */
  text-align: center;
}
.list-container ul li{
  margin-right: 4px;
  padding-right: 4px;
  font-size: 14px;
  font-weight: 500;
  border-right: 1px solid black;
  cursor: pointer;
}
.li{
  border: none !important;
}
.notification-container{
  display: flex;
  width: auto;
  justify-content: space-between;
  margin-top: 10px;
}
.notification{
  border-radius: 15px;
  border: 1px solid black;
  color:red;
  font-size: 14px;
  height: 23px !important;
  width: 70px;
  font-weight:400;
  justify-content: space-evenly;
  display: flex;
  align-items: center;
  margin-top: 5px;
}
.notification-container .home-icon{
  margin: 10px; 
}
.A-circle{
  border-radius: 50%;
  border: 1px solid black;
  text-align: center;
  align-items: center;
  width: 28px;
  height: 28px;
  font-size: 18px;
  font-weight: 500;
  padding: 3px;
  margin-left: 5px;
  margin-right: 25px;
}
.trophy-icon{
  color: black;
  font-weight: 600;
  font-size: 18px;
  margin-top: 4px;
}
.blue-title{
  color: #2ea7ba
}